pkgbase = amiga-dev-tools
	pkgdesc = Cross-compilation toolchain for Amiga (vasm, vbcc, vlink, NDK 3.2)
	pkgver = 1.0
	pkgrel = 1
	url = https://github.com/damroth/amiga-dev-tools
	install = amiga-dev-tools.install
	arch = x86_64
	license = MIT
	makedepends = wget
	makedepends = unzip
	makedepends = tar
	depends = glibc
	depends = lha
	noextract = vbcc0_9hP3.tar.gz
	source = http://server.owl.de/~frank/tags/vasm2_0d.tar.gz
	source = http://server.owl.de/~frank/tags/vbcc0_9hP3.tar.gz
	source = http://server.owl.de/~frank/tags/vlink0_18a.tar.gz
	source = NDK3.2.lha::https://aminet.net/dev/misc/NDK3.2.lha
	source = vbcc_target_m68k-amigaos.lha::http://phoenix.owl.de/vbcc/current/vbcc_target_m68k-amigaos.lha
	source = http://phoenix.owl.de/vbcc/current/vbcc_unix_config.tar.gz
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = amiga-dev-tools
